
body {
    font-family: 'Open Runde', sans-serif;
    font-weight: 400;
    font-size: 100%; /* 100% represents the default font size of the browser */
    color: #BC001C;

    background-image: url('../images/smoke.jpg'); /* Path to your image */
    background-size: cover; /* Ensures the image covers the entire area */
    background-repeat: no-repeat; /* Prevents tiling */
    background-attachment: fixed; /* Keeps the background fixed during scroll */
    background-position: center; /* Centers the image */
    background-color: #303030; /* Fallback color */
}

/* CONTAINERS / DIVS */

div.social-links-container {
    position: absolute;
    right: 5vw;
    top: 5vh;
    width: 3vw;
    min-width: 20px;
    max-width: 30px;
}

/* DIV CHILDREN */

div.social-links-container img.social-link-image {
    margin-bottom: 1vh;
}

#thom-title {
    width: 70vw;
    max-width: 480px;
    height: auto;
    position: absolute;
    top: 25vh;
    left: min(5vw, 100px);
}

#copyright-symbol-disclaimer {
    font-family: 'Sriracha Display', cursive;
    font-size: 2em;
    color: #FC0047;
    position: absolute;
    bottom: 15px;
    right: 20px;
    margin: 0;
    padding: 0;
}
