<!DOCTYPE html>

<html lang="en">

<head>
    <title>TomCummings.me</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

    <div class="welcome-text-container">
        <h1>hey, i'm <span id="tom-text">tom</span>.</h1>
        
        <p>i’m a computer science and physics student based in the uk. i’m very interested in artificial intelligence and human interactive machines.</p>
    </div>
    
</body>

</html>