<!DOCTYPE html>

<html lang="en">

<head>
    <title>Thōm Cummings</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    <!-- Fonts -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">

    <!-- PNG & SVG Favicons -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicons/favicon-96x96.png') }}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='images/favicons/favicon.svg') }}" />
    
    <!-- Standard Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicons/favicon.ico') }}" />
    
    <!-- Apple Touch Icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicons/apple-touch-icon.png') }}" />
    
    <!-- Manifest for Progressive Web Apps -->
    <link rel="manifest" href="{{ url_for('static', filename='images/favicons/site.webmanifest') }}" />

</head>

<body>

    <div class="social-links-container">
        <a class="social-link" href="https://www.instagram.com/th0mcumm1ngs/" target="_blank">
            <img class="social-link-image" src="{{ url_for('static', filename='images/icons/instagram-logo-stone.svg') }}" alt="Instagram">
        </a>
        <a class="social-link" href="https://github.com/th0mcumm1ngs" target="_blank">
            <img class="social-link-image" src="{{ url_for('static', filename='images/icons/github-logo-stone.svg') }}" alt="GitHub">
        </a>
    </div>

    <img id="name" src="{{ url_for('static', filename='images/name.png') }}" alt="Thōm">

    <p id="copyright-symbol-disclaimer">* Copyright symbol for styllictic purposes only</p>
    
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
</body>

</html>