<!DOCTYPE html>

<html lang="en">

<head>
    <title>Thōm Cummings</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    <!-- Fonts -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">
    <link rel="stylesheet" href="https://use.typekit.net/wzd5hav.css">

    <!-- Favicons & Other Icons -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
</head>

<body>

    <div class="social-links-container">
        <a class="social-link" href="https://www.instagram.com/th0mcumm1ngs/" target="_blank">
            <img class="social-link-image" src="{{ url_for('static', filename='images/icons/instagram-logo-stone.svg') }}" alt="Instagram">
        </a>
        <a class="social-link" href="https://github.com/th0mcumm1ngs" target="_blank">
            <img class="social-link-image" src="{{ url_for('static', filename='images/icons/github-logo-stone.svg') }}" alt="GitHub">
        </a>
    </div>

    <div class="welcome-text-container">
        <h1 id="welcome-text-title">hey, i'm <span id="thom-text">thōm</span>.</h1>
        
        <p id="welcome-text-body">i’m a computer science and physics student based in the uk. i’m very interested in artificial intelligence and human interactive machines.</p>
    </div>

    <div class="model-container">
    
    </div>
    
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
</body>

</html>